<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: @book.user %>
    <h2>New book</h2>
    <%= render '/books/form', book: Book.new %>
  </div>


  <div class='col-xs-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr>

        <%= render('book_detail_form', book: @book) %>

        <% if @book.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_book_#{@book.id}"%></td>
        <% end %>
      </tr>
    </table>

    <div id="comment-area">
      <%= render("/book_comments/index", book_comments: @book_comments) %>
    </div>

    <div class="comment-form">
      <%= form_with(model: @book_comment, url: book_book_comments_path(@book.id), data: {remote: true}) do |f| %>
        <%= f.text_area(:comment, size: "90x5", id: "comment") %>
        <%= f.submit('送信') %>
      <% end %>
    </div>

  </div>
</div>